<?xml version='1.0' encoding='utf-8'?>
<widget id="<%= app_id %>" version="0.1.0">
  <name><%= app_name %></name>
  <description>
    Example Tabris.js App
  </description>
  <author email="<%= author_email %>">
    <%= author_name %>
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
